:root {
    --text-color: rgb(42, 136, 165)
}

p {
    color: var(--text-color);
}

nav {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 24px;
    border-radius: 16px;
    position: sticky;
    top: 0;
    justify-self: center;
    background-color: burlywood;

    border-radius: 16px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: black
}

.services>li:hover {
    font-weight: bolder;
}

.description {
    color: var(--text-color);
    font-size: x-large;
}

#additional {
    color: var(--text-color);

}

.switchNews {
    display: flex;
    align-items: center;
    gap: 24px;
}

.switchNewsDetails {
    display: flex;
}

.switchNewsDetails aside {
    flex: 3;
}

.switchNewsDetails section {
    flex: 7;
}


body {
    background-color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.xbox {
    color: rgb(24, 117, 8);

}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bolder;
}

.lineThrough {
    text-decoration: line-through;
}

.ps5 {
    color: rgb(22, 29, 215);
}

.switch {
    color: rgb(172, 15, 15);
}

.title,
.subtitle {
    line-height: 0;
    text-align: center;
}

.title {
    font-size: 45px;
}