:root {
    --text-color: rgb(42, 136, 165)
}

p {
    color: var(--text-color);
}

.description {
    color: var(--text-color);
    font-size: x-large;
}

#additional {
    color: var(--text-color);

}


body {
    background-color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.xbox {
    color: rgb(24, 117, 8);

}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bolder;
}

.lineThrough {
    text-decoration: line-through;
}

.ps5 {
    color: rgb(22, 29, 215);
}

.switch {
    color: rgb(172, 15, 15);
}

.title,
.subtitle {
    line-height: 0;
    text-align: center;
}

.title {
    font-size: 45px;
}
